@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  --primary: #FAAC18;
  --secondary: #000000;
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    /* --foreground: #ffffff; */
    --primary: #FAAC18;
    --secondary: #171717;
  }
}

body {
  font-family: var(--font-roboto);
/* font-family: roboto, sans-serif; */

}



.bold{
  font-weight: bold;
  color: black;
}
/* in globals.css or styles/globals.css */
select option {
  background-color: white !important;
  color: black !important;
  
}
